@tailwind base;
@tailwind components;
@tailwind utilities;



.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    gap: 10px;
  }
  
  .svg-action {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.3s;
    fill: none;
    stroke: #737877
  }
  
  .svg-action:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  
  .container input:checked ~ svg {
    stroke: #0A66C2;
    
  }
  .container input:checked ~ span {
    color: #0A66C2;
  }

  .like-icon {
    transition: transform 0.3s ease, stroke 0.3s ease;
    stroke: #737877;
  }
  
  .group:hover .like-icon {
    stroke: #0A66C2;
    transform: scale(1.1) rotate(-10deg);
  }

  .comment-button {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* gap-2 */
}

.comment-button:hover {
  color: #3b82f6; /* hover:text-blue-500 */
}

.comment-icon {
  stroke: currentColor;
  stroke-width: 0.3;
  position: relative;
  top: 0.5px;
  transition: transform 0.2s ease-in-out;
}

.comment-button:hover .comment-icon {
  transform: scale(1.1) rotate(-10deg);
  stroke: #3b82f6; /* stroke-blue-500 */
}
  
  .loader {
    width: 112px;
    height: 112px;
  }
  
  .box1,
  .box2,
  .box3 {
    border: 16px solid #2DB8A1;
    box-sizing: border-box;
    position: absolute;
    display: block;
  }
  
  .box1 {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
    animation: abox1 4s 1s forwards ease-in-out infinite;
  }
  
  .box2 {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
    animation: abox2 4s 1s forwards ease-in-out infinite;
  }
  
  .box3 {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
    animation: abox3 4s 1s forwards ease-in-out infinite;
  }
  
  @keyframes abox1 {
    0% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  
    25% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  
    50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  
    75% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  }
  
  @keyframes abox2 {
    0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    25% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    50% {
      width: 112px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  
    75% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  
    100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  }
  
  @keyframes abox3 {
    0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  
    12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
    }
  
    25% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 64px;
    }
  
    37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
  
    50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
  
    62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
  
    75% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
  
    87.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
    }
  
    100% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
    }
  }
  
  